body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background: #3c4566;
}

#banner {
    background-color: #C01A1A;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#cuadros-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin: 20px;
}

#parrafo1 {
    grid-column: auto/ auto;
    grid-row: auto / auto;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#parrafo2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    background-color: #f0f0f0;
    padding: 10px;
}

#parrafo3 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    background-color: #707070;
    padding: 10px;
    border-radius: 10px;
    
}

.six-nomo{
    display: block; 
    margin: 0 auto;
    text-align: center;
}
.six{
    
    text-align: center;
}
